/* 设置全局样式 */
body {
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  font-family: 'Helvetica Neue', sans-serif;
  background: url("/image/background.jpg") center / cover fixed;
}

/* 设置页面标题的样式 */
h1 {
  font-size: 36px;
  margin-top: 30px;
  text-align: center;
}

/* 设置表格样式 */
table {
  margin: 50px auto;
  width: 80%;
  max-width: 1000px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 2px solid #fff;
}

/* 设置表格标题样式 */
th {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* 设置表格单元格样式 */
td {
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  border-radius: 10px;
}

/* 设置表格奇数行背景颜色 */
tr:nth-child(odd) {
  background-color: #f2f2f2;
}

/* 设置表格偶数行背景颜色 */
tr:nth-child(even) {
  background-color: #fff;
}

/* 设置链接样式 */
a {
  display: inline-block;
  margin: 20px;
  font-size: 16px;
  color: #007bff;
  text-decoration: none;
}

/* 设置按钮样式 */
input[type="button"] {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

/* 设置按钮的悬停效果 */
input[type="button"]:hover {
  background-color: #0062cc;
}

/* 设置div样式 */
div {
  text-align: center;
}
